<div id="article-comments">
  <div id="article-comments-list">
    <p>-----</p>
  </div>
</div>

<script type="text/javascript">
  let commentListElement = $('#article-comments-list')
  let commentCountElement = $('#article-comment-count')

  new GithubCommentList(commentListElement, commentCountElement, <%= gh_issue_number %>)
</script>
