.blog-page-content {
  width: 600px;
  margin: 0 auto;
}

.article-title-section-line {
  margin-bottom: 3em;
}

.article-content {
  float: left;
  margin-top: 30px;
  text-align: justify;
  line-height: 1.4em;
}

.article-comment-avatar {
  width: 24px;
  margin-right: 5px;
}

.article-comment {
  font-size: 0.9em;
}

.article-comment-body {
  margin-left: 5px;
  font-size: 0.8em;
}

.highlight {
  margin: 1em;
}

.article-sequence-step-end {
  margin-top: 5em;
}

#article-comment-count {
  font-style: italic;
}

h3 {
  margin-top: 2em;
}

.blog-image {
  max-width: 50%;
}

@media handheld, only screen and (max-width: 767px) {
  body {
    font-family: "Gill Sans WGL W01 Light";
    font-size: 1.25em;
  }

  .article-content {
    float: left;
    margin-top: 30px;
    margin-right: 30px;
    text-align: justify;
    line-height: 1.4em;
  }

  .main p {
    margin:0 0 15px 0;
    text-align:justify;
    line-height: 1.24em;
  }

  .page-content {
    width:350px;
  }

  .navigation-links {
    display: none;
  }
}
