
<div class='page-content'>
  <div class="grid grid-pad">
    <div class='col-3'>
      <div class="content">

      </div>
    </div>

    <div class='col-9'>
      <div class="content">
        <%= partial 'components/author-name' %>
      </div>
    </div>

    <div class='col-3'>
      <div class="content">
        <%= partial 'components/author-about' %>
      </div>
    </div>

    <div class='col-9'>
      <div class="content">
        <%= partial 'components/article-titles' %>
      </div>
    </div>
  </div>
</div>
